api/fins-salesforce-financial-exp-api/src/main/mule/salesforce-financial-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <flow name="salesforce-financial-exp-api-main">
        <http:listener config-ref="salesforce-financial-exp-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforce-financial-exp-api-config" />
    </flow>
    <flow name="salesforce-financial-exp-api-console">
        <http:listener config-ref="salesforce-financial-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce-financial-exp-api-config" />
    </flow>
    <flow name="get:\ping:salesforce-financial-exp-api-config">
		<flow-ref doc:name="ping_get-health" doc:id="f6957ab0-4459-4777-84d5-d45087b59f51" name="ping_get-health"/>
    </flow>
    <flow name="post:\accounts\poller:salesforce-financial-exp-api-config">
		<flow-ref doc:name="accounts_poller" doc:id="dd45004e-c68a-47fa-9e32-10d88a474ddf" name="accounts_poller"/>
    </flow>
</mule>
